.container {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding-sides);
  z-index: 1;
}

.text-container p {
  margin-top: 50px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 50px;
}

.image-wrapper {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.circles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid var(--accent-color);
}
